
<section class="navbar">
	<%= render 'shared/navbar' %>
</section>

		<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		<!--<h1><span class="icon icon-shield"></span></h1>-->
	  		 		<h1>Les Éditions Uruk</h1>
	  		</header>	    
	    </div><!-- /headerwrap -->


<section class="concept">
<%= render 'shared/concept' %>
</section>	

<%= render 'shared/portfolio' %>

<%= render 'shared/contact' %>


<div id="footerwrap">
	<div class="container">
		<h4>Les Éditions Uruk</a> - Copyright 2017</h4>
	</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/retina.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="assets/js/jquery-func.js"></script>
