<!-- ==== SECTION DIVIDER6 ==== -->
<div class="container" id="contact" name="contact">

<br>
				<h1 class="centered">NOUS CONTACTER</h1>
				<hr>
	<div class="row">
<div class="col-lg-8">
	<h3>Supportez-nous</h3>
	<p>Si vous êtes intéressé par ce projet et que vous voulez aider n'hésitez pas à nous rejoindre. Que ce soit pour participer dans un recueil, proposer des idées ou aider à la réalisation de projet nous acceptons toutes aides proposées. Contactez-nous directement avec le formulaire ou par les médias sociaux.</p>
</div><!-- col -->
<!--
<div class="col-lg-4">
	 col <h3>Rester en contact</h3>
	-->
	<!-- <p>
		<form class="form-horizontal" role="form" action="https://formspree.io/leseditionsuruk@gmail.com"
      method="POST">
		  <div class="form-group">
		    <label for="text1" class="col-lg-4 control-label"></label>
		    <div class="col-lg-10">
		      <input type="text" class="form-control" id="text1" placeholder="Votre Nom">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail1" class="col-lg-4 control-label"></label>
		    <div class="col-lg-10">
		      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="text2" class="col-lg-4 control-label"></label>
		    <div class="col-lg-10">
		      <textarea  class="form-control" id="text2" placeholder="Message"></textarea> 
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-lg-10">
		      <button type="submit" class="btn btn-success" value="send">Envoyer</button>
		    </div>
		  </div>
	   </form>form 
	</p>--><!--
</div> col -->

		<div class="col-lg-4">
			<!--<h3>Médias sociaux</h3>-->
			<br>
			<p><span class="icon icon-facebook"></span> <a href="https://www.facebook.com/leseditionsuruk" target="_blank"> Les Éditions Uruk </a> <br/>
			<span class="icon icon-instagram"></span> <a href="https://www.instagram.com/editionsuruk/" target="_blank"> @editionsuruk </a> <br/>

			<span class="icon icon-twitter"></span> <a href="https://twitter.com/leseditionsuruk" target="_blank"> @leseditionsuruk </a> <br/>
				
			<span class="icon icon-envelop"></span> leseditionsuruk@gmail.com <br/>
			<span class="icon icon-home"></span> Montréal<br/>
			</p>
		</div><!-- col -->
		

		



</div><!-- row -->

</div><!-- container -->