<!-- ==== ABOUT ==== -->
		<div class="container" id="concept" name="concept">
			<div class="row white">
			<br>
				<h1 class="centered">CONCEPT</h1>
				<hr>
				
				<div class="col-lg-6">
					<p>Le but des Éditions Uruk est d’amener les individus à s’exprimer par l’art et concevoir les possibilités. La majorité des personnes ont pour référent le cadre académique lorsqu’il s’agit d’écrire. La notion de s’exprimer étant toujours contingente aux besoins de répondre aux différents objectifs de notes et de styles. C’est difficile une fois ce cadre établi de se permettre d’écrire à l’extérieur et de s’émanciper pour s’exprimer. La ligne entre écrire des mots et un écrivain n’est pas nette.</p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p>Le but du recueil est donc d’amener tout le monde à écrire, bien sûr il est nécessaire de limiter les possibilités si l’on veut avoir un produit fini et ne pas être coincé devant une page blanche. C’est pourquoi les recueils ont une ligne directrice, non pas comme sujet, mais plutôt comme concept directeur. Aussi les textes dans le recueil sont anonymes pour permettre à tous de se libérer derrière le voile d’anonymat. </p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->