<!-- ==== ABOUT ==== -->
		<div class="container" id="concept" name="concept">
			<div class="row white">
			<br>
				<h1 class="centered">CONCEPT</h1>
				<hr>
				
				<div class="col-lg-6">
					<p>Utiliser l’art pour rassembler et émanciper les individus sans prétention. C’est dans cette optique que les Éditions Uruk a vu le jour. Faire réaliser que l’écriture n’est pas limitée au cadre scolaire ou à ceux qui se définissent comme écrivains. L’intérêt n’est pas de partager des oeuvres parfaite ou exceptionnelle, mais plutôt de partager et exposer le commencement. Créer des liens entre ceux qui n’aurait pas eu la chance de se connaître, pousser ceux qui désire à finalement passer à l’action ou plus simplement, réduire la barrière entre le désir de créer et le passage à l’acte. Les Éditions Uruk c’est le début sans jugement pour ceux voulant essayer d’avancer.</p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p>Le but des recueils est donc d’amener quiconque le veut à écrire et ce quelque soit le niveau. Les auteurs ont une ligne directrice, non pas comme sujet, mais plutôt comme concept pour diriger la créativité. Ce qui permet d’enligner plus facilement l’écriture et d’avoir un recueil avec diverses approches. Aussi pour permettre une expression libre de tout préjugés et peurs, les textes sont anonymes. Les thématiques de chaque recueil sont en lien avec le climat ressenti dans la société. L’on espère que grâce aux différents point de vues, les textes mettents en valeurs la différences tout en permettant un dialogue. Des recueils sans prétention, des textes authentiques, des oeuvres d’art touchantes et des événements festifs fédérateurs c’est ça Les Éditions Uruk.</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->